<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.strava" />
    </queries>

    <application>
        <activity
            android:name=".oauth.StravaOAuthRedirectActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="cyclingassistant"
                    android:host="koflox.github.io"
                    android:pathPrefix="/strava/callback" />
            </intent-filter>
        </activity>
    </application>

</manifest>
